<div id="post_show_content" class="skinny_wrapper wrapper_padding">
<div id="about_page" >
<p>ChewTab is an up and coming media company based out of <a href="https://en.wikipedia.org/wiki/Delhi">"saddi dilli"</a>. We keep ourselves open to opportunities and let us know if we can be of any help to you.</p>
<p>
For any queries, you can drop us a line <%= link_to "here", new_contact_path %>. We try our best to respond to all sorts of messages. 
</p>
</div>
</div>

