<div id="main_grid" class="clearfix">
<div class="grid-sizer"></div>
  <div class="grid-item">This is trying the mas</div>
   <div class="grid-item">This is trying the mas</div>
    <div class="grid-item">This is trying the mas</div>
     <div class="grid-item">This is trying the mas</div>
      <div class="grid-item">This is trying the mas</div>
       <div class="grid-item">This is trying the mas</div>
        <div class="grid-item">This is trying the mas</div>
         <div class="grid-item">This is trying the mas</div>
          <div class="grid-item">This is trying the mas</div>
           <div class="grid-item">This is trying the mas</div>
            <div class="grid-item">This is trying the mas</div>
  
</div>