<div id="post_show_content" class="skinny_wrapper wrapper_padding">
<div id="about_page" >

	<h1><center> FTC Disclosure Statement </center></h1>
	<p>This site is monetized by affiliate program, which means the sites we link to in the posts will compensate us with a commission for purchases credited to this site.

	Some of the third party programs we use include Amazon.com, ClickBank, and others.

	The products which are recommended on this site are either products we use personally, or something we agree to endorse after researching it thoroughly. We recommend these products and services because we believe these products will help our readership in general. The statements made with regard to the products or services reflect our honest opinion based on the facts known at the time of writing.

	You should assume that a connection exists between chewtab.com and the providers of the referenced products and services, unless explicitly stated otherwise.
	</p>

</div>
</div>	