<% set_meta_tags title: 'Latest Projects',
                 description: 'Recent viral project and posts.',
                 keywords: 'viral, content, projects, entertainment, memes, read, blog, tech, tech news, videos, music, trending',
                 reverse: true %>

<h1 id="page_title">Stuff We've Built</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% @projects.each do |project| %>
	<div class="post">
		<p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
		<h2><a href="#"><%= link_to project.title, project %></a></h2>
		<hr>
	</div>
	<% end %>
	
</div>